<% include ../share/header.ejs %>

<style type="text/css">
    .btn-xs{
        margin:1px;
    }
</style>
<!-- CONTENTS -->
<div class="container">
    <div class="page-header">
        <h1>트랜스미션 관리<br><small>토렌트 추가, 트랜스미션 관리, 미니 탐색기</small></h1>
    </div>
    <!-- 네비게이션 메뉴 -->
    <nav class="col-lg-12">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item text-center active">
                <a class="nav-link" data-toggle="tab" href="#torrent">Torrent</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" data-toggle="tab" onclick="transmission();" href="#transmission">Transmission</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" data-toggle="tab" onclick="explorer();" href="#Explorer">Explorer</a>
            </li>
        </ul>
    </nav>
    <!-- 네비게이션 메뉴 끝 -->
    <div class="col-lg-12 tab-content">
        <!-- 토렌트 파트 -->
        <div class="tab-pane active" id="torrent" role="tabpanel">
            <!-- 토렌트 검색 -->
            <div id="form1" class="col-lg-12" style="margin: 1%">
                <div class="form-group col-lg-12">
                    <input type="text" class="form-control" id="torrentTitle" placeholder="프로그램 제목을 입력하세요" required>
                </div>
                <div>
                    <input type="hidden" id="siteSelect" name="siteSelect" value="20">
                    <!-- <div class="col-lg-2 text-center" data-toggle="buttons" style="padding-right: 0px;">
                        <label class="btn btn-sm btn-default active" style="width:48%"><input type="radio" name="siteSelect" value="10">토렌튜브</label>
                        <label class="btn btn-sm btn-default" style="width:48%"><input type="radio" name="siteSelect" value="20"></i>토렌트왈</label>
                    </div> -->
                    <div class="col-lg-12">
                        <input type="checkbox" onclick="torrentTitle.val('');" style="margin-left:10px" id="check1080"><label for="check1080">1080p</label>
                        <a type="button" onclick="torrentSearch();" class="btn btn-sm btn-default" style="float: right;">검색</a>
                        <a class="btn btn-sm btn-default" onclick="helpUrl()" title="토렌트가 안돼요!" style="float:right;margin-right: 5px;">?</a>
                    </div>
                </div>
            </div>
            <!-- 토렌트 검색 끝 -->
            <!-- 토렌트 검색 결과 -->
            <div class="col-lg-12" id="torrentList" style="margin: 1%">
            
            </div>
            <!-- 토렌트 검색 결과 끝-->
        </div>
        <!-- 토렌트 파트 끝 -->

        <!-- transmission 파트 -->
        <div class="tab-pane" id="transmission" role="tabpanel">
            <!-- //위쪽 상태바 재개, 정지, 삭제, 로컬에서 함께 삭제, || 전체 재개, 전체 정지 || 파일이동-->
            <div class="col-lg-12 text-center" style="padding:1%">
                <a type="button" onclick="control('1');" class="btn btn-default btn-xs"><i class="fas fa-play"></i>시작</a>
                <a type="button" onclick="control('2');" class="btn btn-default btn-xs"><i class="fas fa-stop"></i>정지</a>
                <a type="button" onclick="isOk('3');" class="btn btn-default btn-xs"><i class="fas fa-ban"></i>삭제</a>
                <a type="button" onclick="isOk('4');" class="btn btn-default btn-xs"><i class="far fa-trash-alt"></i>데이터도 삭제</a>
                <span class="button-split"> | </span>
                <a type="button" onclick="control('5');" class="btn btn-default btn-xs">전체 시작</a>
                <a type="button" onclick="control('6');" class="btn btn-default btn-xs">전체 정지</a>
                <span class="button-split"> | </span>
                <a type="button" onclick="torrentUpload(1);" class="btn btn-default btn-xs"><i class="fas fa-cloud-upload-alt"></i>UPLOAD</a>
                <span class="button-split"> | </span>
                <a type="button" onclick="control('10');" class="btn btn-default btn-xs"><i class="fas fa-sync"></i>DLNA 새로고침</a>
            </div>
            <!-- 트랜스미션 작업 리스트 -->
            <div class="col-lg-12" id="transmission_contents">

            </div>
            <!-- 트랜스미션 작업 리스트 끝 -->
        </div>
        <!-- transmission 파트 끝 -->

        <!-- Explorer 파트-->
        <div class="tab-pane" id="Explorer" role="tabpanel">
            <div class="col-lg-12 text-center" style="padding:1%">
                <div class="dropdown btn-group" role="group">
                    <button class="btn btn-default dropdown-toggle btn-xs" type="button" id="fastMoveBtn" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-fighter-jet"></i>빠른이동<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="fastMoveMenu" role="menu" aria-labelledby="dropdownMenu">
                        <!-- 빠른이동 메뉴에 추가될 내용 -->
                    </ul>
                </div>
                <div class="dropdown btn-group" role="group">
                    <button class="btn btn-default dropdown-toggle btn-xs" type="button" id="fastMoveBtn" data-toggle="dropdown" aria-expanded="false">
                            <i class="far fa-star"></i>즐겨찾기<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="favoriteMenu" role="menu" aria-labelledby="dropdownMenu">
                        <!-- 즐겨찾기 메뉴에 추가될 내용 -->
                    </ul>
                </div>
                <span class="button-split"> | </span>
                <a type="button" onclick="control('11');" class="btn btn-default btn-xs"><i class="fas fa-cut"></i>잘라내기</a>
                <a type="button" onclick="control('12');" class="btn btn-default btn-xs"><i class="fas fa-paste"></i>붙여넣기</a>
                <a type="button" onclick="isOk('14');" class="btn btn-default btn-xs"><i class="far fa-trash-alt"></i>파일삭제</a>
                <div class="dropdown btn-group" role="group">
                    <button class="btn btn-default dropdown-toggle btn-xs" type="button" id="fastMoveBtn" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-cogs"></i>파일관리<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li role="presentation"><a type="button" onclick="rename(1)"; class="btn btn-default btn-xs"><i class="fas fa-equals"></i>이름통일</a></li>
                        <li role="presentation"><a type="button" onclick="newDirMaking(1)" class="btn btn-default btn-xs"><i class="fas fa-plus"></i>새폴더</a></li>
                    </ul>
                </div>
                <span class="button-split"> | </span>
                <a type="button" onclick="control('10');" class="btn btn-default btn-xs"><i class="fas fa-sync"></i>DLNA</a>
            </div>
            <div class="col-lg-12" id="explorerContents">

            </div>
        </div>
        <!-- Explorer 파트 끝-->

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#torrentTitle").focus();
        //사이트 선택 기본값 토렌트아이씨유로 설정
        $('input[name="siteSelect"]').val(['20']);
        //기본 검색값 1080p로 설정
        $("#check1080").prop("checked", true);
        
        //페이지가 처음 로딩될 때만 서버에서 기본 세팅값을 로딩한다.
        $.ajax({
            type: "POST",
            url: "/main/getDefaultSetting",
            success: function (result) {
                if ($.trim(result.result) == "true") {
                    var favoriteList = '';
                    var fastMoveList = '';
                    for (var i in result.favoriteData) {
                        //pwd 설정
                        if (result.favoriteData[i].name == '홈') {
                            dir.pwd(result.favoriteData[i].path);
                        }
                        dir.nameList(result.favoriteData[i].name);
                        dir.pathList(result.favoriteData[i].path);
                        favoriteList += '<li role="presentation"><a type="button" tabindex="-1" onclick="explorer(\'' + i + '//\');" class="btn btn-default btn-xs">' + result.favoriteData[i].name + '</a></li>';
                        fastMoveList += '<li role="presentation"><a type="button" tabindex="-1" onclick="fastMove(\'' + i + '\');" class="btn btn-default btn-xs">' + result.favoriteData[i].name + '</a></li>'
                    }
                    $('#favoriteMenu').append(favoriteList);
                    $('#fastMoveMenu').append(fastMoveList);

                    for (var i in result.dirListData) {
                        if (result.dirListData[i].name == 'watch') dir.watch(result.dirListData[i].path);
                        else if (result.dirListData[i].name == 'download') dir.download(result.dirListData[i].path);
                    }

                    for (var i in result.urlListData){
                        urllist.nameList(result.urlListData[i].name);
                        urllist.urlList(result.urlListData[i].url);
                    }
                }
                else {
                    alert(result.data);
                }
            }
        });
    });
    //title에서 엔터키 치면 검색 실행
    $("#torrentTitle").keyup(function (e) {
        if (e.keyCode == 13) torrentSearch();
    });

</script>
<% include ../share/footer.ejs %>