<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 id="modal-title" class="modal-title">Modal Header</h4>
            </div>
            <div id="modal-body" class="modal-body">
                
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div> -->
        </div>
    </div>
</div>
<script>
    transmission();
</script>
<footer class="footer">
    <div class="container">
        <p class="text-muted" style="float:left">furychick@nate.com</p>
        <a class="text-muted" style="float:right" href="/login/logout">로그아웃</a>
    </div>
</footer>
</body>
</html>