<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>FuryChick.IPTIME.ORG</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <!-- <link href="/views/css/sticky-footer-navbar.css" rel="stylesheet"> -->

    <!--제이쿼리-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <style type='text/css'>
        html {
        position: relative;
        min-height: 100%;
        }
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }
        
        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */
        
        body > .container {
            padding: 60px 15px 0;
        }
        .container .text-muted {
            margin: 20px 0;
        }
        
        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }
        
        code {
            font-size: 80%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">FuryChicK</a>
            </div>
        </div>
    </nav>  
    <!-- Begin page content -->
    <div class="col-lg-12">
        <div class="col-lg-3" style="float:left"></div>
        <div class="col-lg-6" style="padding: 10%">
            <form class="col-lg-12" id="loginInfo" method="post" >
                <h2>회원가입</h2>
                <div class="col-lg-12 text-center">
                    <div class="col-lg-12 text-left"><span><h4>* 아이디</h4></span></div>
                    <!-- <input type="text" id="uId" name="uId" class="form-control" placeholder="아이디를 입력해주세요" required autofocus/>
                    <div class="col-lg-12 text-right"><button type="button" id="check_id" class="btn btn-primary" >중복검사</button></div>  -->
                    <div class="input-group col-lg-12">
                        <input type="text" id="uId" name="uId" class="form-control" placeholder="아이디를 입력해주세요. " required autofocus aria-describedby="check_id">
                        <span class="input-group-btn">
                            <button type="button" id="check_id"class="btn btn-primary">중복검사</button>
                        </span>
                    </div>
                    <div class="col-lg-12 text-left"><span><h4>* 비밀번호</h4></span></div>
                    <input type="password" id="uPassword" name="uPassword" class="form-control has-success" placeholder="비밀번호를 입력해주세요" required/>
                    <input type="password" id="uPassword2" name="uPassword2" class="form-control" placeholder="비밀번호를 한번 더 입력해주세요"  required/>
                    <div class="col-lg-12 text-left"><span><h4>* 이름</h4></span></div>
                    <input type="text" id="uName" name="uName" class="form-control" placeholder="이름을 입력해주세요" required/>
                </div>
                <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-primary" onclick="goRegister();">회원가입</button>
                    <button type="button" class="btn btn-warning" onclick="goCancel();">취소</button>
                </div>
                </form>
            </div>
        </div>

    <script>
        //엔터키 치면 로그인 버튼을 누른것과 같은 효과가 나게 하는 함수
        $("#id").keyup(function(e){
            if(e.keyCode == 13) loginConfirm();
        });
        $("#password").keyup(function(e){
            if(e.keyCode == 13) loginConfirm();
        });

        var loginConfirm = function loginConfirm(){
            if($("#id").val() == ''){
                alert("아이디를 입력해주세요.");
                $('#id').focus();
            }
            else if($('#password').val() == ''){
                alert("비밀번호를 입력해주세요.");
                $('#password').focus();
            }
            else{
                $.ajax({
                    type:"POST",
                    url:"/login/login",
                    data:{
                        "id":$('#id').val(),
                        "password":$('#password').val()                    
                    },
                    success:function(data){
                        if($.trim(data) == "id"){
                            alert("잘못된 아이디입니다.");
                            $('#id').val('');
                            $('#id').focus();
                        }
                        else if($.trim(data) == "password"){
                            alert("잘못된 비밀번호입니다.");
                            $('#password').val('');
                            $('#password').focus();
                        }
                        else{
                            location.href="/main/";
                        }
                    }
                });
            }
        }
    </script>
    <footer class="footer">
        <div class="container">
            <p class="text-muted" style="float:left">furychick@nate.com</p>
        </div>
    </footer>
</body>
</html>