<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>FuryChick.IPTIME.ORG</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <!-- <link href="/views/css/sticky-footer-navbar.css" rel="stylesheet"> -->

    <!--제이쿼리-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <style type='text/css'>
        html {
        position: relative;
        min-height: 100%;
        }
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }
        
        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */
        
        body > .container {
            padding: 60px 15px 0;
        }
        .container .text-muted {
            margin: 20px 0;
        }
        
        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }
        
        code {
            font-size: 80%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">FuryChicK</a>
            </div>
        </div>
    </nav>  
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>기본 설정<br><small>안녕하세요! 반갑습니다!</small></h1>
        </div>
        <div class="col-lg-3" style="float:left"></div>
        <div class="col-lg-6">
            <form class="col-lg-12" id="loginInfo" method="post" >
                <div class="col-lg-12 text-center">
                    <div class="col-lg-12 text-left"><span><h4><i class="fas fa-address-card"></i> 아이디</h4></span></div>
                    <input type="text" id="id" class="form-control" placeholder="필수 : 아이디를 입력해주세요. " required autofocus>
                    <div class="col-lg-12 text-left"><span><h4><i class="fas fa-lock"></i> 비밀번호</h4></span></div>
                    <input type="password" id="password" class="form-control has-success" placeholder="필수 : 비밀번호를 입력해주세요" required/>
                    <input type="password" id="password2" class="form-control" placeholder="필수 : 비밀번호를 한번 더 입력해주세요"  required/>
                    <div class="col-lg-12 text-left"><span><h4><i class="fas fa-user-cog"></i> 트랜스미션 설정</h4></span></div>
                    <input type="text" id="trId" class="form-control" placeholder="필수 : 트랜스미션 아이디" required/>
                    <input type="password" id="trPw" class="form-control" placeholder="필수 : 트랜스미션 비밀번호" required/>
                    <input type="text" id="trPort" class="form-control" placeholder="필수 : 트랜스미션 포트" required/>
                    <div class="col-lg-12 text-left"><span><h4><i class="fas fa-wrench"></i> 경로설정</h4></span></div>
                    <div class="col-lg-12 text-right"><span><h6>경로는 반드시 /까지 입력해야 합니다.</h4></span></div>
                    <input type="text" id="homeDir" class="form-control" placeholder="홈 디렉토리" required/>
                    <input type="text" id="torrentDownloadDir" class="form-control" placeholder="토렌트 다운로드 폴더" required/>
                    <input type="text" id="torrentWatchDir" class="form-control" placeholder="토렌트 watch 폴더" required/>
                    <input type="text" id="tvProgramDir" class="form-control" placeholder="TV 프로그램 폴더" required/>
                    <input type="text" id="movieDir" class="form-control" placeholder="영화 폴더" required/>
                </div>
                <div class="text-center" style="margin: 5%;">
                    <button type="button" class="btn btn-primary btn-block" onclick="goRegister();">설정완료</button>
                </div>
            </form>
        </div>
    <script>        
        var goRegister = function goRegister() {
            var id = $('#id').val();
            var password = $('#password').val();
            var password2 = $('#password2').val();
            var trId = $('#trId').val();
            var trPw = $('#trPw').val();
            var trPort = $('#trPort').val();
            var isOk = true;

            if(id == '' || password == '' || password2 == '' || trId == '' || trPw == '' || trPort == ''){
                alert("필수사항은 반드시 입력해야 합니다.");
                isOk = false;
            }
            if(id.length >= 10){
                alert("아이디는 열글자 이하여야 합니다. ");
                $('#id').focus();
                isOk = false;
            }
            if(password != password2){
                alert("입력된 비밀번호가 일치하지 않습니다. ");
                $('#password').focus();
                isOk = false;
            }

            if(isOk){
                $.ajax({
                    type:"POST",
                    url:"/initialSetting/settingSave",
                    data:{
                        "data":{
                            "id":id,
                            "password":password,
                            "trId":trId,
                            "trPw":trPw,
                            "trPort":trPort,
                            "torrentDownloadDir":$('#torrentDownloadDir').val(),
                            "tvProgramDir":$('#tvProgramDir').val(),
                            "movieDir":$('#movieDir').val(),
                            "homeDir":$('#homeDir').val(),
                            "torrentWatchDir":$('#torrentWatchDir').val()                           
                        }
                    },
                    success:function(result){
                        if($.trim(result) == "true"){
                            alert("저장완료! 로그인해주세요!");
                            location.href="/login";
                        }
                        else{
                            alert('뭔가 에러 발생!');
                            return;
                        }
                    }
                });
            }
        }
    </script>
    <footer class="footer">
        <div class="container">
            <p class="text-muted" style="float:left">furychick@nate.com</p>
        </div>
    </footer>
</body>
</html>